<div class="container mt-4">
    <div class="row">
      <div class="col-8">
        <table class="table">
          <thead class="table-dark">
            <tr>
              <th scope="col">#</th>
              <th scope="col">Marca</th>
              <th scope="col">Línea</th>
              <th scope="col">Modelo</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let vehiculo of vehiculos; index as i">
              <th scope="row">{{ i + 1 }}</th>
              <td>{{ vehiculo.marca }}</td>
              <td>{{ vehiculo.linea }}</td>
              <td>{{ vehiculo.modelo }}</td>
            </tr>
          </tbody>
        </table>
        <p class="m-0 p-0" *ngFor="let marca of vehiculosPorMarca | keyvalue">Total {{ marca.key }}: {{ marca.value }}</p>
      </div>
    </div>
  </div>
